<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Question_1+x</title>
</head>
<body>
<div class="container">
    <br><br>
    <h1><a class="text-info" href="{% url 'question:show_index' %}">随机选择题</a></h1><br>
    <h1><a class="text-info" href="{% url 'question:show_exam' %}">考试须知小测试</a></h1><br>
    <h1><a class="text-info" href="{% url 'question:show_fraction' %}">须知测试结果</a></h1><br>
</div>
</body>
</html>